.border{
    border: 1px solid black;
}
.margin-top15{
    margin-top: 15%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox label:before {
    border-radius: 3px;
}
input[type=checkbox]:checked + label span.hide {
    display: inline-block !important;
}
input[type=checkbox]:checked + label span.glyphicon-remove-circle {
    display: none !important;
}

.height15{
    height: 100px;
}
.red{
    background: red;
}