<div class="row-fluid">
    <div class="centering margin-top15 text-center col-sm-offset-4 col-sm-4">
        <span class="visible-xs hidden-sm h3">Login</span>
        <form class="form-horizontal" ng-submit="doLogin($event)">
            <div class="form-group">
                <label for="inputLog" class="col-sm-3 hidden-xs control-label">Login:</label>
                <div class="col-sm-9">
                    <input ng-model="login" type="text" class="form-control" id="inputLog" placeholder="Login">
                </div>
                <label for="inputPass" class="col-sm-3 hidden-xs control-label">Password:</label>
                <div class="col-sm-9">
                    <input ng-model="password" type="text" class="form-control" id="inputPass" placeholder="Password">
                </div>
            </div>
            <div class="checkbox pull-left text-warning">
                <input class="hide" id="remember" type="checkbox">
                <label for="remember" class="noselect">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    <span class="glyphicon glyphicon-ok-circle hide"></span>
                    <input class="hide" type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Log in</button>
        </form>

    </div>
</div>


<!--<h1>Login</h1>-->

<!--<p>{{ message }}</p>-->
<!---->
<!--<form method="POST" action="/login" ng-submit="doLogin($event)">-->
    <!--<input type="text" placeholder="Your login" ng-model="login">-->
    <!--<input type="password" placeholder="Your login" ng-model="password">-->
    <!--<button type="submit">Login</button>-->
<!--</form>-->
<!--<a href="#/">Back</a>-->
