<div style="height: 8em;">
<!--GAP-->
</div>
<div class="row-fluid">
    <div class="centering margin-top15as text-center col-sm-offset-4 col-sm-4">
        <span class="h3">Register</span>
        <div class="hidden-xs">&nbsp;</div>
        <form name="form" class="form-horizontal" >
            <div class="form-group has-feedback">
                <label for="inputLog" class="col-sm-3 hidden-xs control-label text-right">Login:</label>
                <div class="col-sm-9" ng-class="{'has-error': form.login.$invalid}">
                    <input type="text" ng-model-options="{ updateOn: 'blur' }" name="login" ng-model="login" id="inputLog" class="form-control" placeholder="Login" ng-minlength="6" ng-maxlength="16">
                    <span ng-show="form.login.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(warning)</span>
                </div>
                <label for="inputMail" class="col-sm-3 hidden-xs control-label text-right">Mail:</label>
                <div class="col-sm-9">
                    <input  type="email" ng-model="email"  name="email" class="form-control" id="inputMail" placeholder="@mail">
                    <!--<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>-->
                    <!--<span id="inputWarning2Status" class="sr-only">(warning)</span>-->
                </div>
                <label for="inputPass" class="col-sm-3 hidden-xs control-label">Pass:</label>
                <div class="col-sm-9" ng-class="{'has-error': form.pass.$invalid}">
                    <input type="text" ng-model-options="{ updateOn: 'blur' }" ng-model="pass" name="pass" class="form-control" id="inputPass" placeholder="Password" ng-maxlength="16" ng-minlength="6" pass>
                    <span ng-show="form.pass.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(warning)</span>
                </div>
                <label for="inputPassRepeat" class="col-sm-3 hidden-xs control-label"></label>
                <div class="col-sm-9" ng-class="{'has-error': form.repeatPass.$invalid}">
                    <input type="text" ng-model-options="{ updateOn: 'blur' }" ng-model="repeatPass" name="repeatPass" class="form-control" id="inputPassRepeat" placeholder="Confirm pass" repeat-pass="pass">
                    <span ng-show="form.repeatPass.$invalid" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(warning)</span>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div ng-show="form.$invalid" class="col-sm-4 bg-warning margin-top15not">
        <h3>Warnings:</h3>
        <p ng-show="form.pass.$error.pass">
            <span class="glyphicon glyphicon-info-sign"></span>
            Поле login не может содержать недопустимые символы русские и <strong>!"№;%:*?)(<>{}[]</strong>
        </p>
        <p ng-show="form.repeatPass.$error.repeat">
            <span class="glyphicon glyphicon-info-sign"></span>
            Пароли не совпадают
        </p>
        <p ng-show="form.pass.$error.minlength">
            <span class="glyphicon glyphicon-info-sign"></span>
            Пароль слишком короткий
        </p>
        <p ng-show="form.pass.$error.maxlength">
            <span class="glyphicon glyphicon-info-sign"></span>
            Пароль слишком длинный
        </p>
        <p ng-show="form.login.$error.minlength">
            <span class="glyphicon glyphicon-info-sign"></span>
            Логин слишком короткий
        </p>
        <p ng-show="form.login.$error.maxlength">
            <span class="glyphicon glyphicon-info-sign"></span>
            Логин слишком длинный
        </p>
    </div>
</div>
